<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Movie Timez</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="../images/Movie.png" class="img-fluid"></a>
        <a class="navbar-brand" href="#">MOVIE TIMEZ</a>
      </div>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search movie">
          </div>
          <button type="submit" class="btn btn-danger">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-danger"><li><a href="/signin" color="ffff">Sign-In</a></li></button>
          <button type="button" class="btn btn-danger"><li><a href="/register">Register</a></li></button>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</head>
<body>
