<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Movie Timez</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MOVIE TIMEZ</a>
      </div>
      <a class="navbar-brand">
        <div class="logo-image">
              <img src="../images/Movie.png" class="img-fluid">
        </div>
  </a>
  
      <!-- Collect the nav links, forms, and other content for toggling -->

        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search your favourite movie">
          </div>
          <button type="submit" class="btn btn-default">Find</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-dark"><li><a href="/signin" color="ffff">Sign-In</a></li></button>
          <button type="button" class="btn btn-dark"><li><a href="/register">Register</a></li></button>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Fiction</a></li>
              <li><a href="#">Horror</a></li>
              <li><a href="#">Romance</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <body>
    <div class="container">
