<%- include('partials/header') %>
<form action="/newmovie" method="post">
    <div>
        <input type="file" onchange="previewFile()"><br>
        <img src="" height="400" alt="Image preview...">
    </div>
</form>
<script>
function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script>
<%- include('partials/footer') %>