<%- include('partials/header') %>
<form class="form" method="post" action="/register">
    <div align="center">
        <h1>Register</h1>
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="name" name="name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile Number</label>
        <input type="phone number" name="mobilenum" class="form-control" id="mobile" placeholder="Mobile">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>
<%- include("partials/footer"); -%>