<%- include('partials/header') %>

<h2>Share your reviews here</h2>
<form action="/reviews" method="post">
    <div class="row">
        <div class="col">
            <label> Email</label>
            <input type="text" class="form-control" name="postEmail" placeholder="Email">
        </div>
        <div class="col">
            <label>Movie Name</label>
            <input type="text" class="form-control" name="postTitle" placeholder="Movie name">
        </div>
    </div>
    <div class="form-control">
        <div class="row">
                <label>Review</label>
            <textarea class="form-group" name="postBody" cols="30" rows="5" placeholder="Please write your review here" required autocomplete="off"></textarea>
          </div>
        </div>
        <div>
            <div class="container">
                <span id="rateMe3"  class="rating-faces"></span>
              </div>
              
              <!-- rating.js file -->
              <script src="js/addons/rating.js"></script>
        </div>

        <div>
            <button class="btn btn-danger" type="submit"><span>Post</span></button>
        </div>
      
</form>

<%- include("partials/footer"); -%>