<%- include('partials/header') %>
<p><%= user %></p>
<img src="<%=pic %>">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Share your reviews here</h2>
<form action="/reviews" method="post" class="form">
    <div class="row">
        <div class="mb-3">
            <label class="form-label"> Email</label>
            <input type="text" class="form-control" name="postEmail" placeholder="Email">
        </div>
        <div class="mb-3">
            <label class="form-label">Movie Name</label>
            <input type="text" class="form-control" name="postTitle" placeholder="Movie name">
        </div>
    </div>
    <div class="form-control">
        <div class="mb-3">
                <label class="form-label">Review</label>
            <textarea class="form-group" name="postBody" cols="30" rows="5" placeholder="Please write your review here" required autocomplete="off"></textarea>
          </div>
        </div class="row">
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
        <div>
            <button class="btn btn-danger" type="submit"><span>Post</span></button>
        </div>
      
</form>

<%- include("partials/footer"); -%>