<head>
    <title>Movie Ticket Counter Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  </head>
<div class="row">
    <table class="responsive-table striped">
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Number Of Seats</th>
              <th data-field="price">Seats</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in bookedSeat">
            <td>{{user.username}}</td>
            <td>{{user.noOfSeats}}</td>
            <td>
              <div class="row">
                <div class="col s1" ng-repeat="seat in user.seats">
                  {{seat.no}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<script src="/javascripts/global/angular.min.js "></script>
    <script src="/javascripts/global/jquery.js "></script>
    <script src="/javascripts/global/materialize.min.js "></script>
    <script src="/javascripts/MainController.js "></script>
    <script>
    $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    </script>