<%- include("partials/header"); -%>
    </center>
    </div>
          
    <br/><br/>
    
    <div class="displayerBoxes">
    <center>
      <table class="Displaytable">
      <tr>
        <th>Name</th>
        <th>Number of Seats</th>
        <th>Seats</th>
      </tr>
      <tr>
        <td><textarea id="nameDisplay"></textarea></td>
        <td><textarea id="NumberDisplay"></textarea></td>
        <td><textarea id="seatsDisplay"></textarea></td>
      </tr>
    </table>
    </center>
    </div>
    <%- include("partials/footer"); -%>