<%- include('partials/header') %>

<div class="container">
<div class="mb-3" style="padding-top: 15px;">
<button type="submit" class="btn btn-danger"><a href="/imagesPage">Add Movie</a></button>
</div>
<div class="mb-3">
<button type="submit" class="btn btn-danger"><a href="/deletemovie">Delete Movie</a></button>
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-danger"><a href="/updatemovie">Update Movie</a></button>
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-danger"><a href="/seatBooked">View Bookings</a></button>
    </div>
</div>

<%- include('partials/footer') %>