<%- include('partials/header') %>
<div class="container">

<button type="submit" class="btn btn-danger"><a href="/imagesPage">Add Movie</a></button>
<button type="submit" class="btn btn-danger"><a href="/imagesPage">Delete Movie</a></button>

</div>

<%- include('partials/footer') %>