body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.row{
    margin: 0;
    width: 100%;
}
.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #E0DECA ;
}

.navbar-nav  li a:hover {
    color: #E0DECA !important;
}

.footer {
    background-color: #000000;
    color: #E0DECA;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;

}

.img-fluid{
    width: 80px;
    height: 80px;
}

.nav btn{
    padding: 5px;
    margin: 5px;
}
.navbar-form btn{
    padding: 5px;
    margin: 5px;
}
.form{
    width: 300px;

}

a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
  
  #movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width:300px;
    height: 400px;
  }

 #list{
  padding-left: 0px;
   font-size:  1.5em;
  }

.movies_list{
  display: list-item;    
 } 

#image_name{
  color: #000000;
}

#image_desc{
  color: #000000;
}

@media screen and (max-width: 500px) {
  .col1 {
    width: 100%;
  }
}
#width-col{
  width: 100%;
}
#searchbar{
  width:90%;
  margin: 10px;
}

/* CSS for seatbooking */
#Username{
  border:none;
  border-bottom:1px solid;
}

.screen{
  width:100%;
  height:20px;
  background:#2C3333;
  color:#fff;
  line-height:20px;
  font-size:15px;
}

.smallBox::before{
  content:".";
  width:15px;
  height:15px;
  float:left;
  margin-right:10px;
}
.greenBox::before{
  content:"";
  background:Green;
}
.redBox::before{
  content:"";
  background:Red;
}
.emptyBox::before{
    content:"";
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color:#ccc;
}

.seats{
  border:1px solid red;background:yellow;
} 
.seatGap{
  width:40px;
}

.seatVGap{
  height:40px;
}

table{
  text-align:center;
}


.Displaytable{
  text-align:center;
}
.Displaytable td, .Displaytable th {
    border: 1px solid;
    text-align: left;
}

textarea{
  border:none;
  background:transparent;
}

input[type=checkbox] {
    width:0px;
    margin-right:18px;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color:#ccc;
}

input[type=checkbox]:checked:before {
    background-color:Green;
    font-size: 15px;
}
.card {
  overflow:hidden;
}
card-body .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-55deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-44deg);
}

.inputForm{
  padding-top: 5%;
}
