body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    width: 100%;
}
.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #E0DECA ;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer {
    background-color: #000000;
    color: #E0DECA;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid #E0DECA;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img-fluid{
    width: 80px;
    height: 80px;
    margin-top: -30px;
}
a,a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
.nav btn{
    padding: 5px;
    margin: 5px;
}
.navbar-form btn{
    padding: 5px;
    margin: 5px;
}
.form{
    position: absolute;
    left: 35%;
    top: 25%;
    width: 300px;
    height: 40px;
    margin: 5px;
}

