body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.row{
    margin: 0;
    width: 100%;
}
.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #E0DECA ;
}

.navbar-nav  li a:hover {
    color: #E0DECA !important;
}

.footer {
    background-color: #000000;
    color: #E0DECA;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.img-fluid{
    width: 80px;
    height: 80px;
    margin-top: -30px;
}

.nav btn{
    padding: 5px;
    margin: 5px;
}
.navbar-form btn{
    padding: 5px;
    margin: 5px;
}
.form{
    width: 300px;

}

a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.seat{
    background-color: #000000;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row{
    display: flex;
}
.body-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #DCD7C9;
    width: 100%;
}
.movie-container{
    margin: 20px, 0;
}

.movie-container select{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.seat.selected{
    background-color: #ffffff;
}

.seat.occupied{
    background-color: #FF0000;
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform:scale(1,2);
}

.show .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}
.showcase li small{
    margin-left: 10px;

}
.screen{
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.75);
}
.container{
    perspective: 1000px;
    margin-top: 30px;
}
p.text{
    margin: 5px 0;
}
p.text span{
    color: #FF0000;
}

.checked {
    color: orange;
  }
/* css of views */
table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 20px;
    background: #fff;
  }
   
  table th, 
  table tr:nth-child(2n+2) {
    background: #e7e7e7;
  }
    
  table th, 
  table td {
    padding: 20px 50px;
  }
    
  table th {
    border-bottom: 1px solid #d4d4d4;
  }
  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
  }
  .stars-inner {
    width: 0;
  }
  #movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width:300px;
    height: 400px;
  }
  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  