<!-- views/pages/auth.ejs -->
<%- include("../partials/header.ejs"); -%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" style="padding-top: 10%">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Theater Login</h1>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn </a>
    </div>
</div>

<%- include("../partials/footer.ejs"); -%>